# Python test

In [117]:
import pandas as pd

In [126]:
party_data = {
    "ID": [1,2],
    "金額": [36000, 18000],
}

party_df = pd.DataFrame(party_data)
party_df.head()

   ID     金額
0   1  36000
1   2  18000

In [129]:
position_data = {
    "役職": ["部長", "GM", "アソシエイト"],
    "傾斜": [50, 25, 10]
}

position_df = pd.DataFrame(position_data)    
position_df.head()

       役職  傾斜
0      部長  50
1      GM  25
2  アソシエイト  10

In [130]:
participant_data = {
    "名前": ["上野", "松田", "増永", "吉田"],
    "役職": ["部長", "GM", "GM", "アソシエイト"]
}

participant_df = pd.DataFrame(participant_data)    
participant_df = pd.merge(participant_df, position_df, on="役職", how="left")

for party in party_df.itertuples():
    participant_df[f"{party.Index+1}次会出欠"] = 1

participant_df.at[1, "2次会出欠"] = 0

# 支払い比率の計算
for party in party_df.itertuples():
    total = (participant_df["傾斜"] * participant_df[f"{party.Index+1}次会出欠"]).sum()
    participant_df[f"{party.Index+1}次会支払い比率"] = participant_df["傾斜"] * participant_df[f"{party.Index+1}次会出欠"] / total

print(total)    

# 各飲み会の支払いの計算
for party in party_df.itertuples():
    total_payment = party.金額
    participant_df[f"{party.Index+1}次会"] = participant_df[f"{party.Index+1}次会支払い比率"] * total_payment

# 合計金額の計算
participant_df["合計"] = 0
for party in party_df.itertuples():
    participant_df["合計"] += participant_df[f"{party.Index+1}次会"] 

participant_df

85

,名前,役職,傾斜,1次会出欠,2次会出欠,1次会支払い比率,2次会支払い比率,1次会,2次会,合計
0,上野,部長,50,1,1,0.454545,0.588235,16363.636364,10588.235294,26951.871658
1,松田,GM,25,1,0,0.227273,0.000000,8181.818182,0.000000,8181.818182
2,増永,GM,25,1,1,0.227273,0.294118,8181.818182,5294.117647,13475.935829
3,吉田,アソシエイト,10,1,1,0.090909,0.117647,3272.727273,2117.647059,5390.374332

   ID_x  名前  役職  1次会出欠  2次会出欠  ID_y  傾斜_x  ID  傾斜_y
0     1  上野  部長      1      1     1   100   1   100
1     2  松田  GM      1      1     2    25   2    25
2     3  増永  GM      1      1     2    25   2    25

In [65]:
# 役職ごとの人数を集計
position_count = participant_df['役職'].value_counts().reset_index()
position_count.columns = ['役職', '人数']  # 列名を「役職」と「人数」に設定

# position_df に人数情報をマージ（結合）
payment_df = position_df.merge(position_count, on='役職', how='left')
payment_df

   ID  役職   傾斜  人数
0   1  部長  100   1
1   2  GM   25   2

In [68]:
total_inclination = (payment_df["傾斜"] * payment_df["人数"]).sum()
total_inclination

150

In [69]:
payment_df["支払い比率"] = payment_df["傾斜"] / total_inclination
payment_df

   ID  役職   傾斜  人数     支払い比率
0   1  部長  100   1  0.666667
1   2  GM   25   2  0.166667

In [77]:
# 各役職の支払い比率を取得するための辞書を作成
payment_ratio = payment_df.set_index('役職')['支払い比率'].to_dict()
payment_ratio

{'部長': 0.6666666666666666, 'GM': 0.16666666666666666}

In [78]:
for party in party_df.itertuples():
    payment_df[f"{party.Index+1}次会"] = participant_df['役職'].map(payment_ratio) * party.金額

payment_df

   ID  役職   傾斜  人数     支払い比率      1次会      2次会
0   1  部長  100   1  0.666667  24000.0  12000.0
1   2  GM   25   2  0.166667   6000.0   3000.0

In [80]:
temp_df = payment_df.drop(["ID", "傾斜", "人数", "支払い比率"], axis=1)
temp_df

   役職      1次会      2次会
0  部長  24000.0  12000.0
1  GM   6000.0   3000.0

In [85]:
participant_df

(3, 4)

In [87]:
display_df = pd.merge(participant_df[["名前", "役職"]], temp_df, on="役職", how="left")
display_df["合計金額"] = 0
for i in range(party_df.shape[0]):
    display_df["合計金額"] = display_df["合計金額"] + display_df[f"{i+1}次会"]
display_df

   名前  役職      1次会      2次会     合計金額
0  上野  部長  24000.0  12000.0  36000.0
1  松田  GM   6000.0   3000.0   9000.0
2  増永  GM   6000.0   3000.0   9000.0

In [91]:
attendance_df = participant_df
for i in range(party_df.shape[0]):
    attendance_df[f"{i+1}次会"] = 1

attendance_df

   ID  名前  役職  1次会  2次会
0   1  上野  部長    1    1
1   2  松田  GM    1    1
2   3  増永  GM    1    1